/* body { 
  font-family: "Segoe UI", sans-serif;
  background-color: #3b2411;
  color: #f5e9d6;
  margin: 0;
}


header {
  background-color: #5a3c22;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 15px;
  color: #fff;
}


nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #2a180b;
  padding: 10px;
  gap: 40px;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #f5e9d6;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #d8b47a;
}


h2 {
  text-align: center;
  color: #ffe8c2;
  margin-top: 30px;
}


.feedback-form {
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: stretch;
  gap: 25px;
  background-color: #4b2e17;
  border: 2px solid #c8a97c;
  padding: 25px;
  margin: 30px auto;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.personal-info {
  flex: 1 1 300px; 
  order: 1;
  align-self: flex-start;
  background-color: #5a3c22;
  border: 2px solid #c8a97c;
  border-radius: 8px;
  padding: 20px;
}

.personal-info legend {
  font-weight: bold;
  color: #ffe5b4;
}

.personal-info label {
  display: block;
  margin-top: 8px;
}

.personal-info input,
.personal-info select {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #c8a97c;
  background-color: #f5e9d6;
  color: #3b2411;
}


.extra-info {
  flex: 2 1 400px;
  order: 2;
  background-color: #5a3c22;
  border: 2px solid #c8a97c;
  border-radius: 8px;
  padding: 20px;
  align-self: stretch;
}

.extra-info label {
  display: block;
  margin-top: 8px;
}

.extra-info select,
.extra-info textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #c8a97c;
  background-color: #f5e9d6;
  color: #3b2411;
}


.consent {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.consent input {
  margin-right: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  order: 3;
  gap: 20px;
  margin-top: 20px;
}

input[type="submit"],
input[type="reset"] {
  background-color: #6e4b2a;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #d8b47a;
  color: #3b2411;
  transform: scale(1.05);
}

footer {
  text-align: center;
  background-color: #2a180b;
  color: beige;
  padding: 15px 0;
  margin-top: 40px;
} 
  */